// styles for AllReactions Component
@import "../../resources/scss/index.scss";
.AllReactions {
  font-family: $IBM-font-regular;
  font-style: normal;
  .title-text {
    font-weight: 600;
  }
  .all-reactions-tabs {
    .reactions-list {
      height: 280px;
      overflow-y: scroll;
      .user-details {
        @include grid-with-gap(1rem);
        .user {
          display: grid;
          grid-template-columns: 8% 80%;
          img {
            width: 20px;
            height: 20px;
            border-radius:50px;
          }
        }
      }
    }
  }

  // for scroll bar
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: #edeef0;
    &:hover {
      background: #edeef0;
    }
  }
}
