// styles for ReactionPopup Component
@import "../../resources/scss/index.scss";

.reaction-content {
    @include flex-align-center;
    max-width: 200px;
    flex-wrap: wrap;
    justify-content: normal;
  div {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px;
    &:hover {
      transform: scale(2);
    }
  }
}
